name: deploy

on:
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Setup node
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci
      - run: npm run build

      - run: |
          sudo apt-get install tree -y
          tree -H '.' -L 1 --noreport --charset utf-8 ./dist | tee dist/index.html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          commit_message: deploy ${{ github.ref }}
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
